<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	xmlns:georss="http://www.georss.org/georss"
	xmlns:geo="http://www.w3.org/2003/01/geo/wgs84_pos#"
	
	>
<channel>
	<title>
	Komentar di: Jual dan Jasa Cat Epoxy Lantai (Epoxy Floor)	</title>
	<atom:link href="https://solusikonstruksi.com/products/epoxy-lantai-epoxy-floor/feed/" rel="self" type="application/rss+xml" />
	<link>https://solusikonstruksi.com/products/epoxy-lantai-epoxy-floor/</link>
	<description>Supplier Material Konstruksi</description>
	<lastBuildDate>Mon, 11 Apr 2022 16:12:02 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.0</generator>
	<item>
		<title>
		Oleh: briana		</title>
		<link>https://solusikonstruksi.com/products/epoxy-lantai-epoxy-floor/#comment-292</link>

		<dc:creator><![CDATA[briana]]></dc:creator>
		<pubDate>Thu, 27 Apr 2017 16:21:41 +0000</pubDate>
		<guid isPermaLink="false">http://solusikonstruksi.com/?post_type=product&#038;p=4978#comment-292</guid>

					<description><![CDATA[thank u..hasil pekerjaan epoxy nya sangat baik dan sangat memuaskan..saya gak akan ragu lagi untuk menggunakan jasa anda..maaf, kemarin agak cerewet..]]></description>
			<content:encoded><![CDATA[<p>thank u..hasil pekerjaan epoxy nya sangat baik dan sangat memuaskan..saya gak akan ragu lagi untuk menggunakan jasa anda..maaf, kemarin agak cerewet..</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		Oleh: Solihin		</title>
		<link>https://solusikonstruksi.com/products/epoxy-lantai-epoxy-floor/#comment-290</link>

		<dc:creator><![CDATA[Solihin]]></dc:creator>
		<pubDate>Thu, 27 Apr 2017 14:43:33 +0000</pubDate>
		<guid isPermaLink="false">http://solusikonstruksi.com/?post_type=product&#038;p=4978#comment-290</guid>

					<description><![CDATA[jangan ragu nego klo di sini mah... awalnya saya agak ragu, tapi ternyata dengan pelayanannya yang ramah saya jadi enak untuk sekedar nanya-nanya dan nego. terimakasih banyak untuk kru MSK.]]></description>
			<content:encoded><![CDATA[<p>jangan ragu nego klo di sini mah&#8230; awalnya saya agak ragu, tapi ternyata dengan pelayanannya yang ramah saya jadi enak untuk sekedar nanya-nanya dan nego. terimakasih banyak untuk kru MSK.</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
