<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	xmlns:georss="http://www.georss.org/georss"
	xmlns:geo="http://www.w3.org/2003/01/geo/wgs84_pos#"
	
	>
<channel>
	<title>
	Komentar di: Ukuran dan Tipe U Ditch	</title>
	<atom:link href="https://solusikonstruksi.com/products/ukuran-dan-tipe-u-ditch/feed/" rel="self" type="application/rss+xml" />
	<link>https://solusikonstruksi.com/products/ukuran-dan-tipe-u-ditch/</link>
	<description>Supplier Material Konstruksi</description>
	<lastBuildDate>Thu, 29 Apr 2021 17:41:40 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=6.0</generator>
	<item>
		<title>
		Oleh: Suprapto		</title>
		<link>https://solusikonstruksi.com/products/ukuran-dan-tipe-u-ditch/#comment-472</link>

		<dc:creator><![CDATA[Suprapto]]></dc:creator>
		<pubDate>Fri, 17 Nov 2017 20:14:10 +0000</pubDate>
		<guid isPermaLink="false">http://solusikonstruksi.com/product/u-ditch-60x60x120cm/#comment-472</guid>

					<description><![CDATA[Terimakasih atas barang yang telah pak iksan supply, proyek berjalan sesuai schadule]]></description>
			<content:encoded><![CDATA[<p>Terimakasih atas barang yang telah pak iksan supply, proyek berjalan sesuai schadule</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		Oleh: Rinandu		</title>
		<link>https://solusikonstruksi.com/products/ukuran-dan-tipe-u-ditch/#comment-473</link>

		<dc:creator><![CDATA[Rinandu]]></dc:creator>
		<pubDate>Tue, 19 Sep 2017 20:16:17 +0000</pubDate>
		<guid isPermaLink="false">http://solusikonstruksi.com/product/u-ditch-60x60x120cm/#comment-473</guid>

					<description><![CDATA[Ukurannya memang sesui, thanks alot]]></description>
			<content:encoded><![CDATA[<p>Ukurannya memang sesui, thanks alot</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
